Options -Indexes
RewriteEngine On

# Pass Authorization header to PHP (LiteSpeed / InfinityFree strips it by default)
RewriteCond %{HTTP:Authorization} .+
RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
